<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiri.root.mybatis.help.GgiriHelpMapper">

	<resultMap type="com.ggiri.root.help.dto.GgiriHelpDTO" id="help">
		<id property="helpNo" column="helpNo"/>
		<result property="memberNum" column="memberNum"/>		
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="helpDate" column="helpDate"/>
		
	</resultMap>
	
	
	<select id="HelpList" resultMap="help">
		SELECT * FROM ggirihelp
	</select>
	
	<insert id="helpWrite">
		INSERT INTO ggirihelp(helpNo, memberNum, id, title, content)
		VALUES(Help_seq.nextval, #{memberNum}, #{id}, #{title}, #{content})
	</insert>
	
	<select id="helpView" resultMap="help">
		SELECT * FROM ggirihelp WHERE helpNo=#{helpNo}
	</select>
	
	<update id="modify">
		UPDATE ggirihelp SET title=#{title}, content=#{content} WHERE helpNo=#{helpNo}
	</update>
	
	<delete id="helpDelete">
		DELETE ggirihelp WHERE helpNo=#{helpNo}
	</delete>
</mapper>
