<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiri.root.mybatis.admin.GgiriAdminMapper">

	<resultMap type="com.ggiri.root.admin.dto.GgiriAdminDTO" id="admin">
		<id property="id" column="id"/>
		<result property="pwd" column="pwd"/>
	</resultMap>
	
	
	<select id="loginCheck">
		SELECT * FROM ggiriAdmin WHERE id=#{id}
	</select>
	
	
</mapper>
