<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ggiri.root.mybatis.project.LikeMapper">

<!-- 	<resultMap type="com.ggiri.root.project.dto.ProjectDTO" id="project">
		<id property="projectNum" column="projectNum"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="prodate" column="prodate"/>
		<result property="proHit" column="proHit"/>
		<result property="id" column="id"/>
	</resultMap> -->
	
	<resultMap type="com.ggiri.root.project.dto.LikeDTO" id="like">
		<id property="likeId" column="likeId"/>
		<result property="projectNo" column="projectNo"/>
		<result property="userid" column="userid"/>
	</resultMap>
	 
	 <!-- 좋아요 추가 -->
	<insert id="picture_heart_save">
	    insert into likeTable(likeId, projectNo, userid) VALUES(#{likeId}, #{projectNo}, #{userid})
	</insert>
	<update id="picture_heart_up" parameterType="com.ggiri.root.project.dto.ProjectDTO">
	    update ggiriProject set heart=heart+1 
	    where projectNum=#{projectNum}
	</update>
	
	<!-- 좋아요 삭제 -->
	<delete id="picture_heart_remove" parameterType="com.ggiri.root.project.dto.LikeDTO">
	    delete from likeTable
	    where projectNo=#{projectNo} and userid=#{userid}
	</delete>
	<update id="picture_heart_down" parameterType="com.ggiri.root.project.dto.ProjectDTO">
	    update ggiriProject set heart=heart-1 
	    where projectNum=#{projectNum}
	</update>
	
	<!-- 좋아요 추가/삭제시 좋아요 갯수 가져오기 -->
	<select id="picture_heart_count" parameterType="com.ggiri.root.project.dto.ProjectDTO" resultType="com.ggiri.root.project.dto.ProjectDTO">
	    select heart 
	    from ggiriProject
	    where projectNum=#{projectNum}
	</select>
	
</mapper>
